
<div class="users students">
  <% @students.each do |student| %>
    <div class="user padding-all <%= cycle('odd', 'even') %>">
      <div class="row student">
        <%= link_to student.name, user_path(student) %>
      </div>
    </div>
  <% end %>
</div>
