<div class="container">
  <div class="row">
    <div class="span16">
      <ul class="breadcrumb">
        <li><%= link_to(t('.admin'), supervisor_dashboard_path) %></li>
      </ul>
    </div>
  </div>
  <div class="dashboard">
    <div class="row">
      <div class="span5">
        <%= render :partial => "supervisor/shared/admin_menu" %>
      </div>
      <div class="span-two-thirds">
        <div class="dashboard-box">
          <div class="underline padding-top">
            <h2>Top Users</h2>
              <%= text_field_tag :user_name , data: {autocomplete_source: search_users_path} %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  $(function () {
      $('#user_name').autocomplete({
        source: $('#user_name').data('autocomplete-source'),
        minLength: 3,
        delay: 500
      });
  });
</script>
