
<h1>Supervisor control panel</h1>

<p>content for sidebar:</p>

<ul>
  <li><%= link_to t('.courses'), courses_supervisor_path %></li>
  <li><%= link_to t('.teachers'), teachers_supervisor_path %></li>
  <li><%= link_to t('.students'), students_supervisor_path %></li>
  <li><%= link_to t('.pending_approvals'), pending_approvals_supervisor_path %></li>
</ul>
