/*
Syntax error: File to import not found or unreadable: sencha-touch/default/all.
              Load paths:
                /Applications/XAMPP/xamppfiles/htdocs/Cursame/resources/sass
                /Users/manduks/.rvm/gems/ruby-1.9.2-p318/gems/compass-0.12.1/frameworks/blueprint/stylesheets
                /Users/manduks/.rvm/gems/ruby-1.9.2-p318/gems/compass-0.12.1/frameworks/compass/stylesheets
                Compass::SpriteImporter
        on line 1 of /Applications/XAMPP/xamppfiles/htdocs/Cursame/resources/sass/app.scss

1: /Applications/XAMPP/xamppfiles/htdocs/Cursame/resources/sass/app.scss

Backtrace:
/Applications/XAMPP/xamppfiles/htdocs/Cursame/resources/sass/app.scss:1
/Users/manduks/.rvm/gems/ruby-1.9.2-p318/gems/sass-3.1.10/lib/sass/tree/import_node.rb:64:in `rescue in import'
/Users/manduks/.rvm/gems/ruby-1.9.2-p318/gems/sass-3.1.10/lib/sass/tree/import_node.rb:42:in `import'
/Users/manduks/.rvm/gems/ruby-1.9.2-p318/gems/sass-3.1.10/lib/sass/tree/import_node.rb:25:in `imported_file'
/Users/manduks/.rvm/gems/ruby-1.9.2-p318/gems/sass-3.1.10/lib/sass/tree/visitors/perform.rb:147:in `rescue in visit_import'
/Users/manduks/.rvm/gems/ruby-1.9.2-p318/gems/sass-3.1.10/lib/sass/tree/visitors/perform.rb:152:in `visit_import'
/Users/manduks/.rvm/gems/ruby-1.9.2-p318/gems/sass-3.1.10/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/manduks/.rvm/gems/ruby-1.9.2-p318/gems/sass-3.1.10/lib/sass/tree/visitors/perform.rb:18:in `visit'
/Users/manduks/.rvm/gems/ruby-1.9.2-p318/gems/sass-3.1.10/lib/sass/tree/visitors/base.rb:53:in `block in visit_children'
/Users/manduks/.rvm/gems/ruby-1.9.2-p318/gems/sass-3.1.10/lib/sass/tree/visitors/base.rb:53:in `map'
/Users/manduks/.rvm/gems/ruby-1.9.2-p318/gems/sass-3.1.10/lib/sass/tree/visitors/base.rb:53:in `visit_children'
/Users/manduks/.rvm/gems/ruby-1.9.2-p318/gems/sass-3.1.10/lib/sass/tree/visitors/perform.rb:27:in `block in visit_children'
/Users/manduks/.rvm/gems/ruby-1.9.2-p318/gems/sass-3.1.10/lib/sass/tree/visitors/perform.rb:39:in `with_environment'
/Users/manduks/.rvm/gems/ruby-1.9.2-p318/gems/sass-3.1.10/lib/sass/tree/visitors/perform.rb:26:in `visit_children'
/Users/manduks/.rvm/gems/ruby-1.9.2-p318/gems/sass-3.1.10/lib/sass/tree/visitors/base.rb:37:in `block in visit'
/Users/manduks/.rvm/gems/ruby-1.9.2-p318/gems/sass-3.1.10/lib/sass/tree/visitors/perform.rb:47:in `visit_root'
/Users/manduks/.rvm/gems/ruby-1.9.2-p318/gems/sass-3.1.10/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/manduks/.rvm/gems/ruby-1.9.2-p318/gems/sass-3.1.10/lib/sass/tree/visitors/perform.rb:18:in `visit'
/Users/manduks/.rvm/gems/ruby-1.9.2-p318/gems/sass-3.1.10/lib/sass/tree/visitors/perform.rb:7:in `visit'
/Users/manduks/.rvm/gems/ruby-1.9.2-p318/gems/sass-3.1.10/lib/sass/tree/root_node.rb:20:in `render'
/Users/manduks/.rvm/gems/ruby-1.9.2-p318/gems/sass-3.1.10/lib/sass/engine.rb:300:in `_render'
/Users/manduks/.rvm/gems/ruby-1.9.2-p318/gems/sass-3.1.10/lib/sass/engine.rb:247:in `render'
/Users/manduks/.rvm/gems/ruby-1.9.2-p318/gems/compass-0.12.1/lib/compass/compiler.rb:140:in `block (2 levels) in compile'
/Users/manduks/.rvm/gems/ruby-1.9.2-p318/gems/compass-0.12.1/lib/compass/compiler.rb:126:in `timed'
/Users/manduks/.rvm/gems/ruby-1.9.2-p318/gems/compass-0.12.1/lib/compass/compiler.rb:139:in `block in compile'
/Users/manduks/.rvm/gems/ruby-1.9.2-p318/gems/compass-0.12.1/lib/compass/logger.rb:45:in `red'
/Users/manduks/.rvm/gems/ruby-1.9.2-p318/gems/compass-0.12.1/lib/compass/compiler.rb:138:in `compile'
/Users/manduks/.rvm/gems/ruby-1.9.2-p318/gems/compass-0.12.1/lib/compass/compiler.rb:118:in `compile_if_required'
/Users/manduks/.rvm/gems/ruby-1.9.2-p318/gems/compass-0.12.1/lib/compass/compiler.rb:103:in `block (2 levels) in run'
/Users/manduks/.rvm/gems/ruby-1.9.2-p318/gems/compass-0.12.1/lib/compass/compiler.rb:101:in `each'
/Users/manduks/.rvm/gems/ruby-1.9.2-p318/gems/compass-0.12.1/lib/compass/compiler.rb:101:in `block in run'
/Users/manduks/.rvm/gems/ruby-1.9.2-p318/gems/compass-0.12.1/lib/compass/compiler.rb:126:in `timed'
/Users/manduks/.rvm/gems/ruby-1.9.2-p318/gems/compass-0.12.1/lib/compass/compiler.rb:100:in `run'
/Users/manduks/.rvm/gems/ruby-1.9.2-p318/gems/compass-0.12.1/lib/compass/commands/watch_project.rb:147:in `recompile'
/Users/manduks/.rvm/gems/ruby-1.9.2-p318/gems/fssm-0.2.8.1/lib/fssm/path.rb:73:in `call'
/Users/manduks/.rvm/gems/ruby-1.9.2-p318/gems/fssm-0.2.8.1/lib/fssm/path.rb:73:in `run_callback'
/Users/manduks/.rvm/gems/ruby-1.9.2-p318/gems/fssm-0.2.8.1/lib/fssm/path.rb:55:in `callback_action'
/Users/manduks/.rvm/gems/ruby-1.9.2-p318/gems/fssm-0.2.8.1/lib/fssm/path.rb:35:in `update'
/Users/manduks/.rvm/gems/ruby-1.9.2-p318/gems/fssm-0.2.8.1/lib/fssm/state/directory.rb:39:in `block in modified'
/Users/manduks/.rvm/gems/ruby-1.9.2-p318/gems/fssm-0.2.8.1/lib/fssm/state/directory.rb:37:in `each'
/Users/manduks/.rvm/gems/ruby-1.9.2-p318/gems/fssm-0.2.8.1/lib/fssm/state/directory.rb:37:in `modified'
/Users/manduks/.rvm/gems/ruby-1.9.2-p318/gems/fssm-0.2.8.1/lib/fssm/state/directory.rb:18:in `refresh'
/Users/manduks/.rvm/gems/ruby-1.9.2-p318/gems/fssm-0.2.8.1/lib/fssm/backends/polling.rb:17:in `block (2 levels) in run'
/Users/manduks/.rvm/gems/ruby-1.9.2-p318/gems/fssm-0.2.8.1/lib/fssm/backends/polling.rb:17:in `each'
/Users/manduks/.rvm/gems/ruby-1.9.2-p318/gems/fssm-0.2.8.1/lib/fssm/backends/polling.rb:17:in `block in run'
/Users/manduks/.rvm/gems/ruby-1.9.2-p318/gems/fssm-0.2.8.1/lib/fssm/backends/polling.rb:15:in `loop'
/Users/manduks/.rvm/gems/ruby-1.9.2-p318/gems/fssm-0.2.8.1/lib/fssm/backends/polling.rb:15:in `run'
/Users/manduks/.rvm/gems/ruby-1.9.2-p318/gems/fssm-0.2.8.1/lib/fssm/monitor.rb:26:in `run'
/Users/manduks/.rvm/gems/ruby-1.9.2-p318/gems/fssm-0.2.8.1/lib/fssm.rb:70:in `monitor'
/Users/manduks/.rvm/gems/ruby-1.9.2-p318/gems/compass-0.12.1/lib/compass/commands/watch_project.rb:87:in `perform'
/Users/manduks/.rvm/gems/ruby-1.9.2-p318/gems/compass-0.12.1/lib/compass/commands/base.rb:18:in `execute'
/Users/manduks/.rvm/gems/ruby-1.9.2-p318/gems/compass-0.12.1/lib/compass/commands/project_base.rb:19:in `execute'
/Users/manduks/.rvm/gems/ruby-1.9.2-p318/gems/compass-0.12.1/lib/compass/exec/sub_command_ui.rb:43:in `perform!'
/Users/manduks/.rvm/gems/ruby-1.9.2-p318/gems/compass-0.12.1/lib/compass/exec/sub_command_ui.rb:15:in `run!'
/Users/manduks/.rvm/gems/ruby-1.9.2-p318/gems/compass-0.12.1/bin/compass:29:in `block in <top (required)>'
/Users/manduks/.rvm/gems/ruby-1.9.2-p318/gems/compass-0.12.1/bin/compass:43:in `call'
/Users/manduks/.rvm/gems/ruby-1.9.2-p318/gems/compass-0.12.1/bin/compass:43:in `<top (required)>'
/Users/manduks/.rvm/gems/ruby-1.9.2-p318/bin/compass:19:in `load'
/Users/manduks/.rvm/gems/ruby-1.9.2-p318/bin/compass:19:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: File to import not found or unreadable: sencha-touch/default/all.\A               Load paths:\A                 /Applications/XAMPP/xamppfiles/htdocs/Cursame/resources/sass\A                 /Users/manduks/.rvm/gems/ruby-1.9.2-p318/gems/compass-0.12.1/frameworks/blueprint/stylesheets\A                 /Users/manduks/.rvm/gems/ruby-1.9.2-p318/gems/compass-0.12.1/frameworks/compass/stylesheets\A                 Compass::SpriteImporter\A         on line 1 of /Applications/XAMPP/xamppfiles/htdocs/Cursame/resources/sass/app.scss\A \A 1: /Applications/XAMPP/xamppfiles/htdocs/Cursame/resources/sass/app.scss"; }
