<h2 class="h2">Hola!</h2>
<h3 class="h3">¡Tienes una nueva notificación!</h3><br>
<strong>¡El usuario <%= @commenter.name%> ha publicado un nuevo comentario en la discusión <%= @discussion.title%>!</strong>
<br>
<h1> <%= link_to 'Ver Discusión >>', discussion_url(@discussion, :subdomain=>@subdomain) %></h1>
