<h2 class="h2">Hola!</h2>
<h3 class="h3">¡Se ha respondido tu tiket de error o sugerencia!</h3><br>
<strong>¡Ingresa para conocer la respuesta!</strong>
<br>
<h1> <%= link_to 'Ver Respuesta >>', soporte_url(@subdomain) %></h1>
