<h2 class="h2">Hola <%= @parent.user.name%>!</h2>
<h3 class="h3">¡Tienes una nueva notificación!</h3><br>
<strong>¡El usuario <%=@commenter.name%> ha publicado una respuesta a tu comentario<%= comment_receiver(@parent)%>!</strong>
<br>
<h1><%= link_to "Ver Comentario >>", comment_url(@parent, :subdomain => @subdomain)%></h1>
