<h2 class="h2"><br/>¡Hola<%= @user.name %>!</h2>

<strong>Tu usuario es <%= @user.email %> y tu contraseña es: <%= @password %></strong>
<h1><%= link_to 'Entra a Experto Social >>', new_user_session_url(:subdomain=>@network.subdomain) %></h1>
<br>

