<div class="container" style="margin-top:150px;">
	<div class="content">
	<div class="span13" style="margin:30px;"></br>
       <%= render :partial => 'new_network'%>
    <div class="span4">
	</div>
    </div>
    </div>
</div>
