<div class="img">
	<% @imagecourse = course.course_logo_file.xxsmall.url %>
   <%=link_to image_tag(@imagecourse). course_path(course) %>
</div>

<%= I18n.t 'notifications.you_where_accepted_for_course' %> <a href="<%= course_path(course) %>"><%= course.name %></a>.
