<div class="underline">
  <% unless @user.avatar_file.blank? %>
    <%= image_tag @user.avatar_file.small.url %>
  <% end %>
</div>

<div class="underline">	
  <%= tabs_tag(:builder => MenuTabBuilder, :open_tabs => { :class => "left-nav-main-ul" }) do |tab| %>
    <%= tab.profile t('dashboard.profile'), user_path(@user), :class => "informacion" %>
    <%= tab.wall t('profile.wall'), wall_for_user_path(@user), :class => "actualizaciones" %>
  <% end %>
</div>