<%= render :partial => "shared/topbar" %>

<div class="container">
  <div class="register-box">
    <%= render :partial => 'form', :locals => {:resource => resource, :resource_name => resource_name, :url => registration_path(resource_name)} %>
  </div>
</div>

<%= render :partial => "shared/footer" %>
