<% flash.each do |key, val| %>
  <div class="container">
    <div class="alert-message <%= key %>">
      <a class="close" href="#">&times;</a>
      <p><%= raw val %></p>
    </div>
  </div>
<% end %>
