<footer>
  <div class="container">
    <p>
    <%= link_to "Nosotros", nosotros_path %> | 
    <%= link_to "Ayuda", help_path  %> | 
    <%= link_to "Blog", blog_path %> | 
    <a href="">M&oacute;vil </a> | 
    <a href="">Privacidad</a> | 
    <%= link_to "Términos", terms_path %> | 
    <a href="">Publicidad</a> | 
    <a href="">Recursos</a> 
    &copy; 2012 C&uacute;rsame </p>
  </div>
</footer>
