<% @top_users = TopUsers.last %>
<% if @top_users %>
<table class= "zebra-striped">
	<thead ><h2 style ="text-align:center;color: #00afc9;"> <%= @top_users.name %> </h2></thead>
	 <tbody>
	<% @top_users.rankings.each  do |ranking|%>
 		<tr>
 			<td>
 				<img alt="Student_xsmall" src="/assets/student_xsmall.png" width = "24px">
 			</td>
 			<td>
 				<%= link_to "#{ranking.user.name}", user_path(ranking.user_id) %>
 			</td>
 		</tr>
	<% end %>
	</tbody>
</table>
</br>
<% end %>
<%= link_to image_tag("banner.png"), ' https://www.movistar.com.mx', {:target => "_blank" } %>
