<% @top_users = TopUsers.last %>
<% if @top_users.rankings.count > 0 %>
<table class= "zebra-striped" style = "width:280px;margin-left:10px">
	<thead ><h2 style ="text-align:center;color: #00afc9;"> <%= @top_users.name %> </h2></thead>
	 <tbody>
	<% @top_users.rankings.each  do |ranking|%>
 		<tr>
 			<td>
 				<div style="float:left">
 					<img alt="Student_xsmall" src="<%= ranking.user.avatar_file.xsmall.url %>" width="16px">
 				</div>
 				<div style="float:left; padding-left:5px">
 				<%= link_to "#{ranking.user.name}", user_path(ranking.user_id) %>
 				</div>
 			</td>
 		</tr>
	<% end %>
	</tbody>
</table>
</br>
<% end %>
<%= link_to image_tag("banner.png"), 'http://www.movistar.com.mx/prepago?utm_source=cursame&utm_medium=experto_movistar&utm_campaign=atributos2013_prepago', {:target => "_blank" } %>
