<div class="underline">
  <%= image_tag 'img_profile.png'%>
</div>

<div class="underline">
  <dl>
        <dt>Acerca de</dt>
        <dd>Someday Ill change The World, meanwhile Im just a Rockstar
          Web Designer & Wannabe Entrepreneur
          (http://cursa.me) #cpmx #cpeu #generamx #Wayra.</dd>
        <dt>Estudia</dt>
        <dd>Diseño Gráfico</dd>
        <dt>Cumpleaños</dt>
        <dd>16 de Nobiembre.</dd>
   </dl>
</div>