<div class="underline padding-top">
  <h2><%= t(".members")%></h2>
</div>
  <ul class="nav-member-avatars">
    <% if @users %>
      <% @users.each do |user| %>
        <% if user.view_status == "fantom"%>
        <%else%>
        <li><%= link_to(image_tag(user.avatar_file.xxsmall.url), user_path(user), :rel => "dashboard-tip", :title => user.name) %></li>
        <%end%>
      <% end %>
    <% end %>
  </ul>
  <%= link_to t(".all_members"), network_members_path %>

