<%= render :partial => "shared/topbar_with_login" %>

<div class="container">
  <div class="register-box">
    <%= render :partial => 'registrations/form', :locals => {:resource => @user, :resource_name => 'student_user', :url => student_user_registration_path} %>
  </div>
</div>
<%= link_to 'Registro como alumno', new_student_user_registration_path %>
<%= render :partial => "shared/footer" %>
