<div class="container">
  <div class="row">
    <div class="span11">
      <p>Creamos <b>Redes Sociales</b> especialmente <b>diseñadas</b> para el <b>aprendizaje en línea.</b></p>
    </div>
    <div class="span5">
      <%= render :partial => 'registrations/form', :locals => {:resource => @user, :resource_name => 'student_user', :url => student_user_registration_path} %>
    </div>
  </div>
  <%= render :partial => "shared/footer" %>
</div>
