<div class= "container">
<h1>Aviso de privacidad </h1>
<p>El presente documento constituye el Aviso de Privacidad para efectos de lo dispuesto en la Ley Federal de Protección de Datos Personales en Posesión de los Particulares (la “LFPDP”) y las disposiciones que emanan de ella o se relacionan con la misma. Este Aviso de Privacidad (en lo sucesivo referido como “Aviso”) aplica a la información personal recopilada sobre el Titular por Movistar en su carácter de Responsable. </p>

<p>Para los efectos del presente Aviso, los términos que se utilicen en éste y que no estén definidos en el mismo tendrán el significado que se les atribuye en la LFPDP. El presente Aviso tiene por objeto establecer los términos y condiciones en virtud de las cuales Movistar (o el Encargado que designe Movistar) (i) recibirá y protegerá los Datos Personales del Titular, a efecto de proteger su privacidad y su derecho a la autodeterminación informativa; (ii) utilizará los Datos Personales del Titular, y (iii) realizará en su caso las transferencias de Datos Personales a terceros.</p>
<h3>1. CONSENTIMIENTO DEL TITULAR.</h3>
<p>Para efectos de lo dispuesto en la LFPDP y en particular en su Artículo 17, el Titular manifiesta (i) que el presente Aviso le ha sido dado a conocer por el Responsable, (ii) haber leído, entendido y acordado los términos expuestos en este Aviso, por lo que otorga su consentimiento respecto del tratamiento de sus Datos Personales para efectos de la LFPDP y demás legislación aplicable. En caso de que los Datos Personales recopilados incluyan Datos Personales sensibles o financieros, mediante la firma del contrato correspondiente, sea en formato impreso, o utilizando medios electrónicos y sus correspondientes procesos para la formación del consentimiento, por ejemplo, a título enunciativo mas no limitativo, mediante el suministro de Datos Personales a través de las ventanas de diálogo, o la visualización y recorrido en pantalla de términos y condiciones, se llevarán a cabo actos que constituyen el consentimiento expreso del titular en términos del segundo párrafo del artículo 8 de la LFPDP y demás legislación aplicable y (iii) que otorga su consentimiento para que Movistar o sus Encargados realicen transferencias de Datos Personales a terceros nacionales o extranjeros, en el entendido de que el tratamiento que dichos terceros den a sus Datos Personales deberá ajustarse a lo establecido en este Aviso.</p>

<p>En caso de que el Titular no se oponga a los términos del Aviso se considerará acordado y consentido su contenido, en términos del tercer párrafo del artículo 8 de la LFPDP. El consentimiento del Titular podrá ser revocado en cualquier momento por éste sin que se le atribuyan efectos retroactivos conforme a los procedimientos establecidos más adelante para ello en este Aviso. </p>

<p>No obstante cualquier disposición de este Aviso, el Titular reconoce que no se requerirá de su consentimiento para el tratamiento de Datos Personales por parte del Responsable o de terceros en cualquiera de los casos señalados en el Artículo 10 de la LFPDP. </p>
<h3>2. RECOLECCIÓN DE LOS DATOS PERSONALES. </h3>

<p>La recolección de Datos Personales podrá efectuarse cuando el Titular visita los puntos de venta del Responsable o distribuidores autorizados, cuando se comunica vía telefónica con el Responsable o con sus Encargados (incluyendo centros de atención a clientes), o bien, mediante entrega directa al Responsable o mediante el uso de correos electrónicos y/o mensajes cortos de texto (SMS), o mediante la utilización de sus sitios Web, mediante el suministro voluntario de información a través de las ventanas de diálogo habilitadas en los sitios, o mediante el uso de herramientas de captura automática de datos. Dichas herramientas le permiten recolectar la información que envía su navegador a dichos sitios Web, tales como el tipo de navegador que utiliza, el idioma de usuario, los tiempos de acceso, y la dirección IP de sitios Web que utilizó para acceder a los sitios del Responsable o Encargados. </p>

El Responsable también puede recolectar Datos Personales de fuentes de acceso público y de otras fuentes disponibles en el mercado a las que el Titular pudo haber dado su consentimiento para compartir su información personal o que le haya proporcionado información demográfica anónima asociada a un área geográfica determinada.

Los siguientes son ejemplos, a título enunciativo mas no limitativo, de información que el Responsable puede recopilar: nombre y apellidos; fecha de nacimiento; domicilio, sea particular, del trabajo, o fiscal; dirección de correo electrónico, personal o del trabajo; nombre de identificación en redes sociales; número telefónico, particular o del trabajo; número de teléfono celular; número de tarjeta de crédito, de débito o cuentas bancarias; clave del Registro Federal de Contribuyentes (RFC); Clave Única de Registro de Población (CURP); y preferencias de consumo y navegación al hacer uso de los servicios de telecomunicaciones que le brindamos, así como otros de naturaleza análoga. 

<p>Dentro de la documentación que puede ser recolectada por Movistar para la verificación de la identidad del Titular de los Datos Personales se encuentra la credencial de elector; la cartilla de identidad del servicio militar nacional liberada; la cédula de registro en el RFC; la cédula de registro con la CURP; el comprobante de domicilio; el informe especial de crédito emitido por una Sociedad de Información Crediticia. Para el caso de postulantes a empleados podría también solicitarse, entre otros, el acta de nacimiento; comprobantes de estudios; el estado de cuenta de la Administradora de Fondos para el retiro (Afore); la hoja de retención de impuestos, así como de los estudio psicométrico, médico y socio-económico efectuados por Movistar. También le podrían ser solicitados los Datos Personales de sus familiares, dependientes o beneficiarios y la documentación comprobatoria conducente.</p>
<h3>3. FINALIDAD DE LOS DATOS PERSONALES. </h3>
<p>Los Datos Personales del Titular son recolectados y tratados por el Responsable o sus Encargados con la finalidad de permitirle al Titular, llevar a cabo las siguientes actividades con el Responsable:<p>
<p>•	A) Solicitar, comprar, cambiar, o devolver productos, ofrecidos por Movistar, sean éstos prestados por dicha empresa o por conducto de terceros;</p>

<p>•	B) Solicitar, contratar, cambiar o cancelar servicios, ofrecidos por Movistar, sean éstos prestados por dicha empresa o por conducto de terceros; </p>

<p>•	C) Efectuar pagos en línea;</p>

<p>•	D) Solicitar factura o comprobante fiscal digital;</p>

<p>•	E) Solicitar una cotización, información o muestras gratuitas de productos y servicios;</p>

<p>•	F) Solicitar la entrega, reparación o cumplimiento de garantía de productos;</p>

<p>•	G) Solicitar la prestación de servicios o el cumplimiento de garantía del servicio;</p>

<p>•	H) Contactar el Servicio de Atención a Clientes;</p>

<p>•	I) Recibir publicidad impresa o a través de medios electrónicos, incluyendo comunicaciones con fines de mercadotecnia en línea, o telemarketing sobre productos y servicios;</p>

<p>•	J) Crear perfiles personales;</p>

<p>•	K) Participar en encuestas;</p>

<p>•	L) Utilizar los distintos servicios de sus correspondientes Sitios Web incluyendo la descarga de contenidos y formatos; </p>

<p>•	M) Notificar al Responsable sobre problemas con sus sitios;</p>

<p>•	N) Participar en chats y/o foros de discusión en línea sobre los productos y servicios;</p>

<p>•	O) Participar en trivias, concursos, rifas, juegos y sorteos;</p>

<p>•	P) Compartir sus comentarios o sugerencias sobre los productos y servicios; </p>

<p>•	Q) Procesar pagos, y</p>

<p>•	R) Cualquier otra actividad de naturaleza análoga a las descritas en los incisos previamente citados. </p>

<p>Asimismo, el Responsable, directamente o a través de sus Encargados, puede utilizar sus Datos Personales con la finalidad de:</p>
<p>•	A) Realizar estudios sobre los datos demográficos, intereses y comportamiento de sus clientes, consumidores, proveedores, y de aquellos terceros con los que trate;</p>

<p>•	B) Efectuar estudios de mercado y de consumo a efecto de adquirir y ofrecer productos y servicios personalizados, así como publicidad y contenidos más adecuados a las necesidades de sus clientes, consumidores, proveedores y otros terceros con los que trate; </p>

<p>•	C) Elaborar estadísticas internas que indiquen los servicios y productos más apreciados por los diferentes segmentos de sus clientes, consumidores, proveedores y otros usuarios de los servicios de telecomunicaciones que el Responsable brinda;</p>

<p>•	D) Formalizar el proceso transaccional con sus clientes, consumidores, proveedores y otros terceros con los que trate;</p>

<p>•	E) Gestionar el proceso de requisición, evaluación y adjudicación de proveedores y otros terceros con los que trate;</p>

<p>•	F) En su caso, verificar la capacidad de crédito y/o pago del Titular, lo cual se podrá efectuar a través de las sociedades de información crediticia, en términos de la Ley para regular las Sociedades de Información Crediticia; </p>

<p>•	G) Comprobar las transacciones comerciales realizadas por el Titular con el Responsable;</p>

<p>•	H) Mantener un registro de las operaciones e información revisada en las distintas secciones de los servicios de telecomunicaciones que el Responsable brinda y que se recolecta a través de herramientas de captura automática de datos;</p>

<p>•	I) Enviar al Titular la notificación de ofertas, avisos y/o mensajes promocionales, que le serán enviados, a menos que el Titular manifieste expresamente su voluntad de no recibir tales ofertas. Ocasionalmente, tales ofertas pueden contener información de proveedores del Responsable u otros terceros.</p>

<p>Para el caso de los postulantes a empleados de Movistar, se llevarán a cabo las siguientes actividades:</p>

<p>•	A) Efectuar el proceso de reclutamiento y selección de personal; </p>

<p>•	B) Realizar el proceso de contratación; </p>

<p>•	C) Enviar al Titular la notificación de ofertas, avisos y/o mensajes promocionales, que le serán enviados, a menos que el Titular manifieste expresamente su voluntad de no recibir tales ofertas. Ocasionalmente, tales ofertas pueden contener información de proveedores del Responsable u otros terceros. </p>

<p>Movistar requiere compartir sus Datos Personales con proveedores de servicios de administración y gestión de bases de datos; tratamiento automatizado de Datos Personales y su almacenamiento; autenticación y validación de correos electrónicos; contratación de personal; servicios de auditoría, y otros servicios de naturaleza análoga a las descritas. </p>
<h3>4. RECOLECCIÓN DE DATOS AL NAVEGAR EN SITIOS Y PÁGINAS WEB DE MOVISTAR. </h3>
<p>Dentro de las herramientas de captura automática de datos utilizadas por Movistar en sus sitios y páginas web se encuentran las cookies, los Web beacons, y los enlaces en los correos electrónicos.</p>
<p>
Uso de Cookies.- El correcto funcionamiento de los sitios de Movistar y el de sus proveedores requieren de la habilitación de “cookies” en su navegador de Internet. Las "cookies" son pequeños archivos de datos transferidos por el sitio Web al disco duro de su computadora cuando navega por el sitio. Las cookies pueden ser de sesión o permanentes. Las cookies de sesión no se quedan en su computadora después de que usted cierra la sesión de su navegador, mientras que las cookies permanentes se quedan en las computadoras hasta que son eliminan o caducan. En la mayoría de los navegadores las cookies se aceptan automáticamente en virtud de su configuración predeterminada, usted puede ajustar las preferencias de su navegador para aceptar o rechazar las cookies. La desactivación de las cookies puede inhabilitar diversas funciones de los sitios web de Movistar o que no se muestren correctamente. En caso de que usted prefiera eliminar la información de las cookies enviadas por Movistar, usted puede eliminar el archivo(s) al final de cada sesión del explorador. Información relevante puede ser consultada en los sitios de los principales navegadores de Internet. </p>

<p>Uso de Web beacons (también conocidos como etiquetas de Internet, etiquetas de píxel y clear GIFs).- Movistar puede utilizar en su sitios web y en sus correos electrónicos con formato HTML los Web beacons, solos o en combinación con las cookies, para recopilar información sobre el uso de los sitios web y su interacción con el correo electrónico. El Web beacon es una imagen electrónica, llamada de un solo píxel (1x1) o GIF que puede reconocer información que es procesada en su computadora, como el caso de las cookies, la hora y fecha en que el sitio y sus secciones son visualizados. </p>

<p>Vínculos en los correos electrónicos de Movistar.- Los correos electrónicos que incluyen vínculos que permiten a Movistar saber si usted activó dicho vínculo y visitó la página web de destino, pudiendo esta información ser incluida en su perfil. En caso de que usted prefiera que Movistar no recolecte información sobre su interacción con dichos vínculos, usted puede optar por modificar el formato de las comunicaciones de Movistar (por ejemplo, que el mensaje sea recibido en formato de texto y no en formato HTML) o puede hacer caso omiso del vínculo y no acceder a su contenido. Los correos electrónicos de Movistar pueden incluir vínculos diseñados para dirigirlo a las secciones relevantes de los sitios Web, al re-direccionarlo a través de los servidores de Movistar. El sistema de re-direccionamiento permite a Movistar modificar el URL de tales vínculos en caso de ser necesario, también permiten a Movistar el determinar la eficacia de sus campañas de marketing en línea. Los Datos Personales que Movistar obtiene de sus fuentes comerciales pueden utilizarse junto con los Datos Personales que recolecta a través de sus sitios web. Por ejemplo, Movistar podría comparar la información geográfica disociada adquirida de fuentes comerciales con la dirección IP recopilada por las herramientas de captura automática de datos con el fin de proporcionarle información o promociones relevantes para su área geográfica. </p>

<p>Protección a menores: Movistar alienta a los padres y/o tutores a tomar un papel activo en las actividades en línea de sus hijos. En caso de que Movistar considere que los Datos Personales han sido proporcionados por un menor en contravención al presente Aviso, Movistar procederá a eliminar tales Datos Personales a la brevedad. Si usted se da cuenta que tales Datos Personales han sido proporcionados por un menor de 18 años, por favor envíe un correo electrónico a la dirección:<a href="mailto:datos.personales.mx@telefonica.com"> datos.personales.mx@telefonica.com </a> </p>
<h3>5. TRANSFERENCIAS DE DATOS. </h3>

<p>Habiendo leído, entendido y acordado los términos expuestos en este Aviso, el Titular manifiesta su consentimiento para que el Responsable o cualquier Encargado realicen transferencias de Datos Personales a terceros nacionales o extranjeros, en el entendido de que el tratamiento que dichos terceros den a los Datos Personales del Titular deberá ajustarse a lo establecido en este Aviso.</p>

<p>Para efectos de lo establecido en esta Sección 5, pero sujeto a lo establecido en el último párrafo de la misma, el Responsable le informa al Titular que con el objeto de poder entregar productos, servicios y soluciones a sus clientes, consumidores, empleados, proveedores y demás usuarios de sus servicios, el Responsable y/o sus Encargados han celebrado o celebrarán diversos acuerdos comerciales con proveedores de productos y servicios, tanto en territorio nacional como en el extranjero, para que le suministren, entre otros servicios, los de: telecomunicaciones y correo electrónico; administración y gestión de bases de datos; tratamiento automatizado de Datos Personales y su almacenamiento; call center para atención al cliente; autenticación y validación de correos electrónicos; telemarketing; terminales de tarjeta de crédito; facturación electrónica; comercialización; transporte e instalación de productos; administración de nóminas y beneficios de seguridad social; contratación de personal; servicios de auditoría y otros de naturaleza análoga. La autorización del Titular otorgada conforme a esta Sección 5 faculta al Responsable y/o a sus Encargados a transmitir Datos Personales del Titular a dichos proveedores, en el entendido de que dichos proveedores están obligados, por virtud del contrato correspondiente, a mantener la confidencialidad de los Datos Personales suministrados por el Responsable y/o sus Encargados y a observar el presente Aviso. El Responsable y/o sus Encargados podrán transferir los Datos Personales recolectados del Titular a cualquier otra sociedad del mismo grupo empresarial al que pertenezca el Responsable y que operen con los mismos procesos y políticas internas, sea que se encuentren en territorio nacional o en el extranjero para su tratamiento con las mismas finalidades descritas en este Aviso. También podrá transferir sus Datos Personales a otros terceros que le apoyen para cumplir con los contratos o relaciones jurídicas que tenga con el Titular.</p>

<p>Su información personal puede transferirse, almacenarse y procesarse en un país distinto de donde se proporcionó. Sí lo hacemos, transferimos la información de conformidad con las leyes de protección de la información aplicables. Tomamos medidas para proteger la información personal sin importar el país donde se almacena o a donde se transfiere. Tenemos procedimientos y controles oportunos para procurar esta protección.</p>

<p>Nos reservamos el derecho a transmitir sus Datos Personales en caso de vender o traspasar la totalidad o parte de nuestro negocio o activos. En caso de producirse dicha venta o traspaso, haremos todo lo posible para instar al siguiente propietario a utilizar los Datos Personales con arreglo a este Aviso. Si no desea que sus Datos Personales sean procesados tras el traspaso, deberá ponerse en contacto con el nuevo propietario.</p>

<p>No obstante lo dispuesto en esta Sección 5 o en cualquier otro lugar de este Aviso, el Titular reconoce y acepta que el Responsable no requiere de autorización ni confirmación de dicho Titular para realizar transferencias de Datos Personales nacionales o internacionales en los casos previstos en el Artículo 37 de la LFPDP o en cualquier otro caso de excepción previsto por la misma o la demás legislación aplicable.</p>
<h3>6. LIMITACIÓN DE USO Y DIVULGACIÓN DE LA INFORMACIÓN. </h3>
<p>El Responsable y/o sus Encargados conservarán los Datos Personales del Titular durante el tiempo que sea necesario para procesar sus solicitudes de información, productos y/o servicios, así como para mantener los registros contables, financieros y de auditoria en términos de la LFPDP y de la legislación mercantil, fiscal y administrativa vigente. Además de controlar la divulgación de dichos datos o información de socios comerciales. </p>

<p>En nuestro programa de notificación de promociones, ofertas y servicios a través de correo electrónico, correo postal, mensajes promocionales por teléfono fijo o celular sólo Movistar tiene acceso a la información recabada. Este tipo de publicidad se realiza mediante avisos y mensajes promocionales por las vías antes mencionadas, los cuales sólo serán enviados a usted y a aquellos contactos registrados para tal propósito, usted puede oponerse a la recepción de estas notificaciones en cualquier momento a través de los medios que hemos puesto a su disposición para el ejercicio de sus derechos ARCO. En los mensajes promocionales enviados, pueden incluirse ocasionalmente ofertas de terceras partes que sean nuestros socios comerciales.</p>

<p>Los Datos Personales del Titular recolectados por el Responsable y/o sus Encargados se encontrarán protegidos por medidas de seguridad administrativas, técnicas y físicas adecuadas contra el daño, pérdida, alteración, destrucción o uso, acceso o tratamiento no autorizados, de conformidad con lo dispuesto en la LFPDP y de la regulación administrativa derivada de la misma. No obstante lo señalado anteriormente, Movistar no garantiza que terceros no autorizados no puedan tener acceso a los sistemas físicos o lógicos de los Titulares o del Responsable o en los documentos electrónicos y ficheros almacenados en sus sistemas. En consecuencia, Movistar no será en ningún caso responsable de los daños y perjuicios que pudieran derivarse de dicho acceso no autorizado. </p>
<h3>7. DEPARTAMENTO DE DATOS PERSONALES; DOMICILIO.</h3>
<p>Para cualquier comunicación acerca de nuestro Aviso de Privacidad, por favor contacte a nuestro Departamento de Datos Personales:</p>
<pre>Movistar
Departamento de Datos Personales
Prolongación Paseo de la Reforma No. 1200 piso 8
Colonia Cruz Manca
Delegación Cuajimalpa, C.P. 05349, México, D.F.
<a href="mailto:datos.personales.mx@telefonica.com"> datos.personales.mx@telefonica.com </a></pre>

<p>Para efectos de lo dispuesto en la fracción I del Artículo 16 de la LFPDP, el domicilio del Responsable es el establecido en esta Sección 7 del presente Aviso.</p>


<h3>8. PROCEDIMIENTO PARA EJERCER LOS DERECHOS ARCO. </h3>
<p>Usted tiene, en todo momento, derecho de acceder, rectificar y cancelar sus datos personales, así como de oponerse al tratamiento de los mismos o revocar el consentimiento que para tal fin nos haya proporcionado presentando una solicitud con la información y documentación siguiente: </p>
<p>1.	Nombre del Titular y domicilio u otro medio para comunicarle la respuesta a su solicitud; </p>
<p>2.	Los documentos que acrediten su identidad (copia simple en formato impreso o electrónico de su credencial de elector, pasaporte o FM-3) o, en su caso, la representación legal del Titular (copia simple en formato impreso o electrónico de la carta poder simple con firma autógrafa del Titular, el mandatario y sus correspondientes identificaciones oficiales – credencial de elector, pasaporte o FM-3); </p>
<p>3.	La descripción clara y precisa de los Datos Personales respecto de los que busca ejercer alguno de los Derechos ARCO, y </p>
<p>4.	Cualquier otro elemento o documento que facilite la localización de los Datos Personales del Titular.</p>
<p>En el caso de las solicitudes de rectificación de Datos Personales, el Titular respectivo deberá también indicar las modificaciones a realizarse y aportar la documentación que sustente su petición.</p>
<p>Para la recepción, registro y atención de las solicitudes para ejercer sus derechos ARCO, así como para limitar el uso o divulgación de sus datos, y los demás derechos previstos en la LFPDP contactar a:</p>
<p>CLIENTES: OTROS</p>
<pre>*611 desde su celular <a href="mailto:datos.personales.mx@telefonica.com"> datos.personales.mx@telefonica.com </a>
Centros de Atención a Clientes 
El Responsable o sus Encargados le responderán al Titular respectivo en un plazo máximo de veinte días hábiles, contados desde la fecha en que se recibió la solicitud. Los plazos antes referidos podrán ser ampliados sólo en términos de la LFPDP.</pre>
<p>
La entrega de los Datos Personales será gratuita, solamente le corresponderá cubrir los gastos justificados de envío o el costo de reproducción en copias u otros formatos. En el caso de que el Titular reitere su solicitud en un periodo menor a doce meses, deberá cubrir los costos correspondientes equivalentes a 1.5 días de Salario Mínimo Vigente en el Distrito Federal en términos de la LFPDP, a menos que existan modificaciones sustanciales al Aviso que motiven nuevas consultas. </p>

<p>Para efectos de las solicitudes de cancelación de Datos Personales, además de lo dispuesto por el presente Aviso, se estará a lo dispuesto en el Artículo 26 de la LFPDP, incluyendo los casos de excepción de cancelación de Datos Personales ahí señalados.</p>

<p>La presentación de una solicitud de oposición del uso de Datos Personales por el Titular de los mismos, dará al Responsable la facultad de oponerse al uso de los Datos Personales que como Titular haya entregado al oponente.</p>
<h3>9. CAMBIOS AL AVISO DE PRIVACIDAD.</h3>
<p>Movistar se reserva el derecho de actualizar periódicamente el presente Aviso para reflejar los cambios en nuestras prácticas de información. Es responsabilidad del Titular revisar periódicamente el contenido del Aviso en el sitio www.movistar.com.mx en donde se publicarán los cambios realizados conjuntamente con la fecha de la última actualización. El Responsable entenderá que de no expresar lo contrario, significa que el Titular ha leído, entendido y acordado los términos ahí expuestos, lo que constituye su consentimiento a los cambios y/o actualizaciones respecto al tratamiento de sus Datos Personales.
Última actualización: 16 de febrero de 2012</p>
</div>
<div>
 <%= render partial: "shared/footer"%>
</div>