<div class="container">
 <div class="span10">
   <h3>1.-Calificaiones</h3>
   <p>
Las calificaciones se dividen en tres partes fundamentales, calificaciones de tareas que son el porcentaje por a alumno de aprobación de una tarea, las calificaciones de cuestionarios que el el porcentaje de aprobación de un examen, y la calificación tentativa que el el promedio del os totales de tareas y cuestionarios.
   </p>	
   <%= image_tag("help/calificaciones/calificaciones.png")%>
   <h3>2.-Analítics</h3>
   <p>
    El analítics muestra tres grupos fundamentales de gráfica el las relaciones de aprobación de entre examens y tareas, la gráfica mas importante es la de comportamientos que muestra el estatus de aprobación del grupo dentro del tiempo, esta gráfica nos permite ver como funcionan las tareas y los cuestionarios y las zonas de fallo o aprobación del grupo.
   </p>
   <%= image_tag("help/intro/grafica-comportamiento.png")%>
 </div>
</div>
