<div class="container">
 <div class="span10">
   <h3>1.-Dashboard</h3>
   <p>
	El dashboard es el lugar donde al iniciar sección el usuario es redirigido y puede ver las actividades mas recientes en su grupo en forma de notificaciones, ver sus grupos e ingresar a su calendario.
   </p>	
   <%= image_tag("help/notificaciones/notificaciones.png")%>
   <h3>2.-Notificaciones</h3>
   <p>
	Las notificaciones son el objeto virtual en el cual se muestran las actividades mas recientes en los grupos en los que estas inscritos dentro de la plataforma, los comentarios de tus compañeros en tu perfil y actividades recientes en comentarios que hayas creado.
   </p>
   <%= image_tag("help/notificaciones/notificaciones-u.png")%>
 </div>
</div>