<div class="container">
<center><h1><%= link_to "AYUDA PARA MANEJO Y USO DE CÚRSAME", help_path %></h1></center>
<%= render :partial => "home/helpers/menu"%>
<h2> TAREAS </h2>
<%= render :partial => "home/helpers/tarea"%>
</div>
<div>
  <%= render :partial => "shared/footer" %>
</div>