
	<% @course.chats.reverse.each do |chat|%>

      <div class="row with line">

	          </br><div id='user_chat'><%=chat.user_name%>:</div></br><%=chat.text%>
	        <div id="timer_chat">
	        <%=chat.time.strftime("%d de %b %H:%M")%>
	        </div>
	     </div>
	 <%end%>


