<div style="background-color:#F8FCAA">
    <div class="container">
    <center><p>Con este Navegador es probable que no todas las herramientas de Cúrsame funcionen correctamente. Utiliza alguna de estas <%= link_to "Opciones", browser_error_path%></p></center>
    </div>
</div>
