<div class="answer">
  <input type="radio" disabled="disabled" <%= 'checked="checked"' if current_user.role_for_course(@course) == 'teacher' && answer == question.correct_answer %>/> 
  <span><%= answer.text %></span>
</div>
