<div class="question padding-all <%= cycle('odd', 'even') %>">
  <h3><%= question.text %></h3>
  <div class="answers padding-all">
    <%= render :partial => 'answer', :collection => question.answers, :locals => {:question => question} %>
  </div>
</div>
