<div class="question padding-all <%= cycle('odd', 'even') %>">
  <h3><%= question.text %></h3>
  <div class="answers padding-all">
    <%= render :partial => 'surveys/answer', :collection => question.answers %>
  </div>
</div>
