<h2 class="h2">Hola <%= @supervisor.first_name %>,</h2>
<h3 class="h3">Tienes una nueva notificaci칩n</h3><br>
<strong>Ha terminado la importaci칩n de usuarios en tu red, es importante que verifiques los usuarios inv치lidos que se encontraron en el proceso, los cuales adjuntamos a este correo.<br>
<h1> <%= link_to "Ir a Administraci칩n >>", supervisor_dashboard_url(:subdomain => @subdomain) %></h1>
