<h1>Sistema de mejora de implementación a distancia </h1>
<div class="span11">
 <%= render :partial => "tutoriales/form"%>
</div>
<div class="span11 well">
 <%= render :partial => "tutoriales/view"%>
</div>