<div class="underline">	
  <ul class="left-nav-main-ul">
    <li><%= link_to(t('courses.course_menu.members'), members_course_path(@course), :class => "miembros") %></li>
  </ul>
  <div class="total-members"><%= course_members(@course) %></div>
  <ul class="nav-member-avatars">
    <% @course.users.each do |avatars| %>
      <li><%= link_to(image_tag(avatars.avatar_file.xsmall.url), user_path(avatars)) %></li>
    <% end %>
  </ul>
</div>