<% content_for :head do%>
  <style type="text/css">
    body {
    	margin-top: 40px;
    }
  </style>
<% end %>
<div class="container">
  <div class="content">
    <div class="row">
      <div class="span3">
        <p>Something here</p>
      </div>
      <div class="span10">
        <h2><%= t('.title') %></h2>

        <ul>
          <% @courses.each do |course| %>
            <li class="course">
            <%= course.name %><br/>
            <%= course.description %>
            </li>
          <% end %>
        </ul>
      </div>
      <div class="span3" style="margin:0;">
        <p>Something else here</p>
      </div>
    </div>
  </div>
  <%= render :partial => "shared/footer" %>
</div>
