
<div class="container">
    <div class="well">
        <center>
        <h1>Acepto que he leído los términos condiciones de uso del sitio.</h1>
        </center>
        
    </div>
    <h2><li><%= link_to "leer términos",terms_path%></li></br>
        <li><%= link_to "leer privacidad",privacidad_path%></li>
        <%= render :partial => "accepted_terms/form"%>               
    </h2>    
</div>

