<p>
  Hola <%=@student.name%>!
</p>
<p>
El profesor <%= "#{@teacher.first_name} #{@teacher.last_name}"%> ha aprobado tu ingreso al curso <%= @course.name%>!
</p>
<p>
Visita la p&acute;gina del <%= link_to 'curso', course_path(@course, :subdomain => @subdomain) %> 
</p>

