<h2 class="h2">Hola!</h2>
<h3 class="h3">¡Tienes una nueva notificación!</h3><br>
<strong>¡Tu profesor del curso <%=@course.name%> ha publicado el cuestionario <%=@survey.name%>!</strong>
<br>
<h1> <%= link_to 'Ver Cuestionarios >>', course_surveys_url(@course, :subdomain => @subdomain) %></h1>
