<h2 class="h2">Hola!</h2>
<h3 class="h3">¡Tienes una nueva notificación!</h3><br>
<strong>Tu profesor del curso <%= @course.name%> ha publicado una nueva tarea!</strong>
<br>
<h1> <%= link_to 'Ver Tareas >>', course_assignments_url(@course, :subdomain => @subdomain) %></h1>
