<p>
Hola!
</p>
<p>
Tu profesor del curso <%= @course.name%> ha publicado una nueva tarea!
</p>
<p>
Visita la p&aacute;gina de <%= link_to 'tareas', course_assignments_url(@course, :subdomain => @subdomain) %> de tu curso para revisar los detalles.
</p>

