// Place all the styles related to the bug_answers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div.progress_bar_process_status { 
   /*position: relative; /* IE is dumb */
    display: block;                 
    float: left;     
    width: 250px; 
    height: 16px; 
    margin: 0 0 2px; 
    background: #fff; 
    border-radius: 5px;
   
}

div.progress_bar_process_status div.green { 
    /*position: relative; */
    background: #15F88E; 
    height: 16px; 
    width: 200%; 
    text-align:right; 
    display:block;
    float: left;
    border-radius: 15px;
  
   
}
div.progress_bar_process_status div.yellow { 
    /*position: relative; */
    background: #EDFE04; 
    height: 16px; 
    width: 200%; 
    text-align:right; 
    display:block;
    float: left;
    border-radius: 15px;
   
  
}
div.progress_bar_process_status div.blue { 
    /*position: relative; */
    background: #15E1F8; 
    height: 16px; 
    width: 200%; 
    text-align:right; 
    display:block;
    float: left;
    border-radius: 15px;
  
}
.progress_gotre{
    background: #fff; 
    height: 16px; 
    width: 500px; 
    text-align:right; 
    display:block;
    float: left;
    border-radius: 15px;
    border:solid;
    border-color:#92B7C1;
    
}