/* @group Default Colors */

/*
Colors:

General text: #9c9c9c
header: #00282e
Links:#00afc9
Darker Text: #474747
selected: #e0f5f8
*/

/* @end */

/* @group Custom Elements */

/* @group Labels */

.label-tag {
  background-color: #bfbfbf;
  font-size: 9.75px;
  font-weight: bold;
  color: #ffffff;
  text-transform: uppercase;
  white-space: nowrap;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
	padding: 1px 3px 2px;
}

.label-tag a {
	color: #fff;
}

.label-tag.important {
  background-color: #c43c35;
}
.label-tag.warning {
  background-color: #f89406;
}
.label-tag.success {
  background-color: #46a546;
}
.label-tag.notice {
  background-color: #00afc9;
}

.label-tag.notifications {
  background-color: #e2453f;
}

.label-tag.new {
  background-color: #FFF000;
  color: #000;
}

.alert-message.notice {
  background-color: #57a957;
  background-repeat: repeat-x;
  background-image: -khtml-gradient(linear, left top, left bottom, from(#62c462), to(#57a957));
  background-image: -moz-linear-gradient(top, #62c462, #57a957);
  background-image: -ms-linear-gradient(top, #62c462, #57a957);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #62c462), color-stop(100%, #57a957));
  background-image: -webkit-linear-gradient(top, #62c462, #57a957);
  background-image: -o-linear-gradient(top, #62c462, #57a957);
  background-image: linear-gradient(top, #62c462, #57a957);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#62c462', endColorstr='#57a957', GradientType=0);
  /*text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);*/
  border-color: #57a957 #57a957 #3d773d;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}

/* Pagination with Kaminari */


/* @end */
body {
  margin-top: 50px;
}

.topbar .fill {
	background-color: #00282e;
}

.topbar .brand {
	float: left;
	display: block;
	padding: 8px 20px 6px;
	margin-left: -20px;
	color: #ffffff;
	font-size: 20px;
	font-weight: 200;
	line-height: 1;
}

.logo-container {
	width: 170px;
	height: 40px;
	margin-right: 10px;
	float: left;	
}

.nav {
	margin-left: 20px !important;
}

.top-margin-100 {
	margin-top: 100px;
}

.content .span3 {
	width: 180px;
	padding-top: 10px;
}

.content .span3-5 {
	width: 140px;
}

.content .span5-5 {
width: 300px;
}

.content .span10 {
	margin-left: 0;
	width: 530px;
	padding: 10px 20px 0;
	border-right: 1px solid #eaeaea;
	border-left: 1px solid #eaeaea;
}

.content .span13 {
	border-right: 1px solid #eaeaea;
	width: 759px;
}

.section-divider {
	background-color: #eaeaea;
	margin-bottom: 20px;
	border-top: 1px solid #d5d5d5;
	margin-top: 10px;
	height: 37px;
}

.section-divider h3 {
	margin-left: 10px;
	text-shadow: 1px 1px 1px rgba(255,255,255,1);
}

.description {
	color: #c0c0c0;
	font-weight: bold;
}

.public-course {
	font-size: 13px;
	color: #BFBFBF;
	text-transform: uppercase;
	font-weight: bold;
	margin-bottom: 10px;
}
.courses {
	/* Should consider removing since it's blank */
}

.course {
	display: block;
}

.courses h3 {
	line-height: 26px;
}
.course-by {
	font-size: 12px;
	color: #BFBFBF;
	font-style: italic;
	font-weight: bold;
}

.course-detail {
	height: 60px;
	padding-top: 20px;
}

.course-detail h4 {
	line-height: 20px;
}

.course-detail p {
	font-style: italic;
	color: #a9a9a9;
}

.all-courses {
	margin-top: 10px;
	padding-left: 20px;
}

.course-notification {
	padding-right: 3px;
	padding-top: 3px;
	padding-bottom: 3px;
}

.course-notification a {
	color: #fff;
	display: inline-block;
}

.course-notification a:hover {
	text-decoration: none;
}

.course-notification a img {
	vertical-align: -4px;
}

.span1 {
	margin-left: 5px;
}

.current {
	width: 29px;
	height: 29px;
	padding: 10px 10px 1px;
	background-color: rgba(0, 175, 201, 1);
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	color: #fff;
}

.comment-comments {
	margin-left: 60px;
}

.comment-comments .body {
	border-bottom: 1px solid #D2D9E7;
	margin-top: 1px;
	background-color: #f4f7f7;
	padding: 5px;
}

.comments img {
  max-width: 460px;
}

.author {
display: block;
font-size: 12px;
font-weight: 300;
line-height: 18px;
color: #BFBFBF;
}

.wall label, 
.assignments label,
.discussions label {
	display: none;
}

.wall .actions, 
.assignments .actions,
.discussions .actions {
  margin-top: 0;
 	margin-bottom: 18px;
	padding: 5px 20px 1px;
	display: block;
  overflow: hidden;
}

.wall .textarea-size, 
.assignments .textarea-size,
.discussions .textarea-size {
	width: 480px;
}

.wall .comment-box, 
.assignments .comment-box,
.discussions .comment-box {
	border-top: 1px solid #eaeaea;
	padding-top: 10px;
	margin-top: 10px;
}

.wall .span1, 
.assignments .span1,
.discussions .span1 {
	margin-left: 20px;
}

.wall h6, 
.assignments h6,
.discussions h6 {
	line-height: 10px;
	margin-bottom: 5px;
}

.assignment-values {
	display: block;
	margin-left: 20px;
	color: #a9a9a9;
}

.delivery {
  padding: 10px;
  margin-bottom: 10px;
  display: block;
}

.delivery .assignment-values {
  margin-left: 0;
}

.delivery img {
  float: left;
  margin-right: 20px;
}

/* @end */

/* Tabs */

.tabs {
  margin-bottom: 0;
  border-bottom: 0;
}

.tabs > li {
  top: 2px;
}

.tabs > li > span {
  padding: 10px 15px;
  margin-right: 2px;
  line-height: 36px;
  border: 1px solid transparent;
  -webkit-border-radius: 4px 4px 0 0;
  -moz-border-radius: 4px 4px 0 0;
  border-radius: 4px 4px 0 0;
  cursor: default;
}

.tabs > li.active > span {
  color: #808080;
  background-color: #ffffff;
  border: 1px solid #ddd;
  border-bottom-color: transparent;
  background-color: #f5f5f5;
  background-repeat: repeat-x;
  background-image: -khtml-gradient(linear, left top, left bottom, from(#ffffff), to(#f5f5f5));
  background-image: -moz-linear-gradient(top, #ffffff, #f5f5f5);
  background-image: -ms-linear-gradient(top, #ffffff, #f5f5f5);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(100%, #f5f5f5));
  background-image: -webkit-linear-gradient(top, #ffffff, #f5f5f5);
  background-image: -o-linear-gradient(top, #ffffff, #f5f5f5);
  background-image: linear-gradient(top, #ffffff, #f5f5f5);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f5f5f5', GradientType=0);
}

/* @group Standard */

/* @group Left Menu */

.left-nav-main-ul {
	
}

ul.left-nav-main-ul {
	list-style: none !important;
	margin: 0 0 10px 0;
}

.left-nav-main-ul li a {
	width: 180px;
	height: 22px;
	display: block;
	line-height: 22px;
}

.left-nav-main-ul li a:hover {
	background-color: #00afc9; 
	color:#fff;
	text-decoration: none;
	padding-left: 10px;
	width: 170px;
}

.left-nav-main-ul li a.actualizaciones {
	background: url(menu-actualizaciones.png) no-repeat 5px;
	padding-left: 30px;
}

.left-nav-main-ul li a.actualizaciones:hover {
	background: #00afc9 url(menu-actualizaciones.png) no-repeat 5px;
	width: 150px;
}

.left-nav-main-ul li a.actualizaciones.active {
	background: #00ccec url(menu-actualizaciones.png) no-repeat 5px;
	width: 150px;
	color: #fff;
}

.left-nav-main-ul li a.discusiones {
	background: url(menu-discusiones.png) no-repeat 5px;
	padding-left: 30px;
}

.left-nav-main-ul li a.discusiones:hover {
	background: #00afc9 url(menu-discusiones.png) no-repeat 5px;
	width: 150px;
}

.left-nav-main-ul li a.discusiones.active {
	background: #00ccec url(menu-discusiones.png) no-repeat 5px;
	width: 150px;
	color: #fff;
}

.left-nav-main-ul li a.tareas {
	background: url(menu-tareas.png) no-repeat 5px;
	padding-left: 30px;
}

.left-nav-main-ul li a.tareas:hover {
	background: #00afc9 url(menu-tareas.png) no-repeat 5px;
	width: 150px;
}

.left-nav-main-ul li a.tareas.active {
	background: #00ccec url(menu-tareas.png) no-repeat 5px;
	width: 150px;
	color: #fff;
}

.left-nav-main-ul li a.documentos {
	background: url(menu-documentos.png) no-repeat 5px;
	padding-left: 30px;
}

.left-nav-main-ul li a.documentos:hover {
	background: #00afc9 url(menu-documentos.png) no-repeat 5px;
	width: 150px;
}

.left-nav-main-ul li a.evaluaciones {
	background: url(menu-examen.png) no-repeat 5px;
	padding-left: 30px;
}

.left-nav-main-ul li a.evaluaciones:hover {
	background: #00afc9 url(menu-examen.png) no-repeat 5px;
	width: 150px;
}

.left-nav-main-ul li a.calendario {
	background: url(menu-calendario.png) no-repeat 5px;
	padding-left: 30px;
}

.left-nav-main-ul li a.calendario:hover {
	background: #00afc9 url(menu-calendario.png) no-repeat 5px;
	width: 150px;
}

.left-nav-main-ul li a.informacion {
	background: url(menu-info.png) no-repeat 5px;
	padding-left: 30px;
}

.left-nav-main-ul li a.informacion:hover {
	background: #00afc9 url(menu-info.png) no-repeat 5px;
	width: 150px;
}

.left-nav-main-ul li a.informacion.active {
	background: #00ccec url(menu-info.png) no-repeat 5px;
	width: 150px;
	color: #fff;
}

.left-nav-main-ul li a.miembros {
	background: url(menu-amigos.png) no-repeat 5px;
	padding-left: 30px;
	width: 120px;
}

.left-nav-main-ul li a.miembros:hover {
	background: #00afc9 url(menu-amigos.png) no-repeat 5px;
	width: 150px;
}

.left-nav-main-ul li a.miembros.active {
	background: #00ccec url(menu-amigos.png) no-repeat 5px;
	width: 150px;
	color: #fff;
}

.left-nav-main-ul li a.solicitudes {
	background: url(notification.png) no-repeat 5px;
	padding-left: 30px;
}

.left-nav-main-ul li a.solicitudes:hover {
	background: #00afc9 url(notification.png) no-repeat 5px;
	width: 150px;
}

.left-nav-main-ul li a.solicitudes.active {
	background: #00ccec url(notification.png) no-repeat 5px;
	width: 150px;
	color: #fff;
}

.total-members {
	font-size: 10px;
}

ul.nav-member-avatars {
	list-style: none !important;	
	display: inline-block;
	margin: 0;
}

ul.nav-member-avatars li {
	float: left;
	margin-right: 4px;
}

/* @end */

/* Network info */

.network-info {
  min-height: 354px;
}

.network-info img {
  margin-bottom: 10px;
}

.network-info h3 {
  color: #808080;
  line-height: 24px;
}

.network-info span {
  border-bottom: solid 1px #ddd;
  display: block;
  font-size: 18px;
  font-weight: bold;
  padding-bottom: 5px;
  color: #808080;
  margin-bottom: 20px;
}

/* @group Forms */

.register-box {
	background-color: #00afc9;
 	margin-bottom: 20px;
  	/* padding: 19px; */
  	min-height: 20px;
  	border: 1px solid #eee;
  	border: 1px solid rgba(0, 0, 0, 0.05);
  	-webkit-border-radius: 4px;
  	-moz-border-radius: 4px;
  	border-radius: 4px;
  	-webkit-box-shadow: inset 0 1px 10px 8px rgba(0, 0, 0, 0.08);
  	-moz-box-shadow: inset 0 1px 10px 8px rgba(0, 0, 0, 0.08);
  	box-shadow: inset 0 1px 10px 8px rgba(0, 0, 0, 0.08);
	padding: 28px 26px 28px 28px;
}

.register-box h1 {
	color: #fffeff;
}

.register-box a {
	color: #fffeff;
	float: right;
}

.register-box label {
	display: none;
}

input.names {
  display: inline-block;
  width: 95px;
  height: 18px;
  padding: 4px;
  font-size: 13px;
  line-height: 18px;
  color: #808080;
  border: 1px solid #ccc;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

label {
	margin-right: 10px;
}

form .input {
	margin-left: 0;
}

.inputs ol, .buttons ol {
	margin: 0;
}

.inputs li, .buttons li {
	list-style-type: none;
	margin-bottom: 10px;
}

#student_user_first_name_input, 
#teacher_user_first_name_input,
#teacher_user_last_name_input,
#student_user_last_name_input {
	float: left;
	display: block;
}

fieldset {
	padding-top: 0;
}

fieldset ol li.preview {
	padding-left: 130px;
}

fieldset ol li.boolean {
	padding-left: 98px;
}

fieldset.inputs {
	
}

fieldset.buttons {
	margin-bottom: 0;
}

fieldset.textbox, fieldset.checkbox {
	margin: 0;
	padding: 0;
}

fieldset.checkbox label {
	padding-top: 3px;
	font-size: 11px;
	color: #BFBFBF;
	width: 80px;
}

fieldset.new ol {
	list-style: none;
}

fieldset p.inline-hints {
  font-size: 12px;
  margin-left: 140px;
}

.remove-associated-record {
	margin-left: 190px;
}

.remove-associated-record {
	
}

form.pull-right p {
	line-height: 24px;
	font-size: 11px;
	padding-left: 116px;
}

.social-media {
	margin-left: 140px;
	margin-top: 20px;
}

input.span5-5, textarea.span5-5, select.span5-5 {
  	display: inline-block;
  	float: none;
  	width: 300px;
  	margin-left: 0;
}

ul.auth-links {
	list-style: none;
	margin-bottom: 0;
	margin-left: 75px;
}

/* @end */

.titles {
  line-height: 26px;
  margin-bottom: 10px;
}

.last {
	margin: 0;
}

.no-margin {
	margin: 0;
}

.line {
	border-top: 1px solid #eaeaea;
	padding-top: 5px;
}

.underline {
	border-bottom: 1px solid #eaeaea;
	margin-bottom: 10px;
}

.with {
	margin-left: 0;
}

.left-margin {
	margin-left: 20px;
}

.bottom-margin {
	margin-bottom: 20px;
}

.right-margin {
	margin-right: 20px;
}

.top-margin {
	margin-top: 10px;
}

.padding-right {
	padding-right: 20px;
}

.padding-top {
	padding-top: 10px;
}

.padding-all {
	padding: 10px;
}

.verticle_line {
	border-right: 1px solid #eaeaea;
	min-height: 400px;
}

.span-one-third {
  width: 300px;
}

.span-two-thirds {
  width: 619px;
}

.even {
	background-color: #f6f6f6;
}

.odd {
	background-color: #fbfefe;
}

.right {
	float: right;
}

.left {
	float: left;
}

.text-right {
	text-align: right;
}

.text-left {
	text-align: left;
}
/* @end */

/* Sausage style */
.sausage-set {
position: fixed;
right: 0;
top: 0;
width: 15px;
height: 100%;
border-left: solid 2px #fff;
border-right: solid 2px #fff;
}
.sausage {
position: absolute;
left: 0;
width: 100%;
height: 100%;
background-color: #f1f1f1;
text-decoration: none;
-moz-border-radius: 4px;
-webkit-border-bottom-left-radius: 4px;
-webkit-border-top-left-radius: 4px;
-webkit-border-bottom-right-radius: 4px;
-webkit-border-top-right-radius: 4px;
-moz-box-shadow: inset 0px 1px 2px 4px rgba(0, 0, 0, 0.025);
-webkit-box-shadow: inset 0px 1px 2px 4px rgba(0, 0, 0, 0.025);
}
.sausage-hover,
.sausage-current {
background-color: #edf6fa;
-moz-box-shadow: inset 0px 1px 2px 4px rgba(51, 63, 70, 0.025);
}
.sausage-span {
position: absolute;
left: -100px;
top: 5px;
z-index: 2;
display: none;
width: 60px;
height: 10px;
padding: 2px;
color: #888;
background-color: #fff;
border: solid 2px #b6d8ea;
font-size: 10px;
line-height: 10px;
font-weight: bold;
text-align: center;
-moz-border-radius: 4px;
-webkit-border-bottom-left-radius: 4px;
-webkit-border-top-left-radius: 4px;
-webkit-border-bottom-right-radius: 4px;
-webkit-border-top-right-radius: 4px;
-moz-box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.05);
-webkit-box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.05);
}
.sausage-hover .sausage-span {
display: block;
}

/* Teacher/Student Dashboard Classes */

.dashboard-box {
  margin-bottom: 30px;
}

.notification {
  padding: 5px 0 5px 0;
  border-bottom: solid 1px #ddd;
  display: block;
  overflow: hidden;
}

.notification .img {
  float: left;
  margin-right: 10px;
}

.notification .date-published {
  color: #C0C0C0;
  font-weight: bold;
}

.notification .date-published span {
  margin: 0 0 2px 10px;
}

/* Admin Dashboard Classes */

.dashboard {
/*  background-color: #f5f5f5;*/
  margin-bottom: 30px;
  min-height: 300px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}
.dashboard h1 {
  margin-bottom: 0;
  font-size: 40px;
  line-height: 1;
  letter-spacing: -1px;
}
.dashboard p {
  font-size: 18px;
  font-weight: 200;
  line-height: 27px;
}

.dashboard ul {
  list-style: none;
  min-height: 300px;
  margin: 0;
  background-color: #eaeaea;
  -moz-border-radius: 4px;
  -webkit-border-bottom-left-radius: 4px;
  -webkit-border-top-left-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}

.dashboard ul li {
  font-size: 20px;
  color: #404040;
  font-weight: bold;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.6);
}

.dashboard ul li.top {
  padding: 10px;
  border-bottom: solid 1px #ddd;
}

.dashboard ul li a {
  font-size: 14px;
  color: #404040;
  font-weight: bold;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.6);
  padding: 10px;
  display: block;
}

.dashboard ul li a:hover {
  text-decoration: none;
  background-color: #f5f5f5;
  background-repeat: repeat-x;
  background-image: -khtml-gradient(linear, left top, left bottom, from(#ffffff), to(#f5f5f5));
  background-image: -moz-linear-gradient(top, #ffffff, #f5f5f5);
  background-image: -ms-linear-gradient(top, #ffffff, #f5f5f5);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(100%, #f5f5f5));
  background-image: -webkit-linear-gradient(top, #ffffff, #f5f5f5);
  background-image: -o-linear-gradient(top, #ffffff, #f5f5f5);
  background-image: linear-gradient(top, #ffffff, #f5f5f5);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f5f5f5', GradientType=0);
  -moz-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  -webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
}

.dashboard ul li a:active, .dashboard ul li a.active {
  text-decoration: none;
  background-color: #ffffff;
  background-repeat: repeat-x;
  background-image: -khtml-gradient(linear, left top, left bottom, from(#f5f5f5), to(#ffffff));
  background-image: -moz-linear-gradient(top, #f5f5f5, #ffffff);
  background-image: -ms-linear-gradient(top, #f5f5f5, #ffffff);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f5f5f5), color-stop(100%, #ffffff));
  background-image: -webkit-linear-gradient(top, #f5f5f5, #ffffff);
  background-image: -o-linear-gradient(top, #f5f5f5, #ffffff);
  background-image: linear-gradient(top, #f5f5f5, #ffffff);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f5f5f5', endColorstr='#ffffff', GradientType=0);
  border-bottom: solid 1px #ddd;
  border-top: solid 1px #ddd;
}

.dashboard .admin-menu {
  background-color: #dde4ec;
  color: #fff;
}

.dashboard .fieldset-admin {
  width: 400px;
  float: left;
  margin-right: 20px;
}

.dashboard .fieldset-admin ol {
  list-style: none;
}

.dashboard .fieldset-admin-txt {
  margin-top: 25px;
  display:block;
  overflow:hidden;
}

