/* @group Default Colors */

/*
Colors:

General text: #9c9c9c
header: #00282e
Links:#00afc9
Darker Text: #474747
selected: #e0f5f8
*/

/* @end */

/* @group Custom Elements */
body {
  margin-top: 50px;
}

.topbar .fill {
	background-color: #00282e;
}

.topbar .brand {
	float: left;
	display: block;
	padding: 8px 20px 6px;
	margin-left: -20px;
	color: #ffffff;
	font-size: 20px;
	font-weight: 200;
	line-height: 1;
}

.logo-container {
	width: 170px;
	height: 40px;
	margin-right: 10px;
	float: left;	
}

.nav {
	margin-left: 20px !important;
}

.top-margin-100 {
	margin-top: 100px;
}

.content .span3 {
	width: 180px;
	padding-top: 10px;
}

.content .span10 {
	margin-left: 0;
	width: 530px;
	padding: 10px 20px 0;
}

.content .span13 {
	border-right: 1px solid #eaeaea;
	width: 759px;
}

.section-divider {
	background-color: #eaeaea;
	margin-bottom: 20px;
	border-top: 1px solid #d5d5d5;
	margin-top: 10px;
	height: 37px;
}

.section-divider h3 {
	margin-left: 10px;
	text-shadow: 1px 1px 1px rgba(255,255,255,1);
}

.description {
	color: #c0c0c0;
	font-weight: bold;
}

.public-course {
	font-size: 13px;
	color: #BFBFBF;
	text-transform: uppercase;
	font-weight: bold;
	margin-bottom: 10px;
}
.courses {
	/* Should consider removing since it's blank */
}

.courses h3 {
	line-height: 26px;
}
.course-by {
	font-size: 12px;
	color: #BFBFBF;
	font-style: italic;
	font-weight: bold;
}

.course-detail {
	height: 60px;
	padding-top: 20px;
}

.course-detail h4 {
	line-height: 20px;
}

.course-detail p {
	font-style: italic;
	color: #a9a9a9;
}

.all-courses {
	margin-top: 10px;
	padding-left: 20px;
}

.course-notification {
	padding-right: 3px;
	padding-top: 3px;
	padding-bottom: 3px;
}

.course-notification a {
	color: #fff;
	display: inline-block;
}

.course-notification a:hover {
	text-decoration: none;
}

.course-notification a img {
	vertical-align: -4px;
}

.span1 {
	margin-left: 5px;
}

.dashboard-box {
  background-color: #f5f5f5;
  margin-bottom: 30px;
  padding: 60px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}

/* @end */

/* @group Standard */

/* @group Left Menu */

.left-nav-main-ul {
	
}

ul.left-nav-main-ul {
	list-style: none !important;
	margin: 0 0 10px 0;
}

.left-nav-main-ul li a {
	width: 180px;
	height: 22px;
	display: block;
	line-height: 22px;
}

.left-nav-main-ul li a:hover {
	background-color: #00afc9; 
	color:#fff;
	text-decoration: none;
	padding-left: 10px;
	width: 170px;
}

.left-nav-main-ul li a.actualizaciones {
	background: url(menu-actualizaciones.png) no-repeat 5px;
	padding-left: 30px;
}

.left-nav-main-ul li a.actualizaciones:hover {
	background: #00afc9 url(menu-actualizaciones.png) no-repeat 5px;
	width: 150px;
}

.left-nav-main-ul li a.discusiones {
	background: url(menu-discusiones.png) no-repeat 5px;
	padding-left: 30px;
}

.left-nav-main-ul li a.discusiones:hover {
	background: #00afc9 url(menu-discusiones.png) no-repeat 5px;
	width: 150px;
}

.left-nav-main-ul li a.tareas {
	background: url(menu-tareas.png) no-repeat 5px;
	padding-left: 30px;
}

.left-nav-main-ul li a.tareas:hover {
	background: #00afc9 url(menu-tareas.png) no-repeat 5px;
	width: 150px;
}

.left-nav-main-ul li a.documentos {
	background: url(menu-documentos.png) no-repeat 5px;
	padding-left: 30px;
}

.left-nav-main-ul li a.documentos:hover {
	background: #00afc9 url(menu-documentos.png) no-repeat 5px;
	width: 150px;
}

.left-nav-main-ul li a.evaluaciones {
	background: url(menu-examen.png) no-repeat 5px;
	padding-left: 30px;
}

.left-nav-main-ul li a.evaluaciones:hover {
	background: #00afc9 url(menu-examen.png) no-repeat 5px;
	width: 150px;
}

.left-nav-main-ul li a.calendario {
	background: url(menu-calendario.png) no-repeat 5px;
	padding-left: 30px;
}

.left-nav-main-ul li a.calendario:hover {
	background: #00afc9 url(menu-calendario.png) no-repeat 5px;
	width: 150px;
}

.left-nav-main-ul li a.miembros {
	background: url(menu-amigos.png) no-repeat 5px;
	padding-left: 30px;
}

.left-nav-main-ul li a.miembros:hover {
	background: #00afc9 url(menu-amigos.png) no-repeat 5px;
	width: 150px;
}

.total-members {
	font-size: 10px;
}

ul.nav-member-avatars {
	list-style: none !important;	
	display: inline-block;
	margin: 0;
}

ul.nav-member-avatars li {
	float: left;
	margin-right: 4px;
}

/* @end */

/* @group Register Forms */

.register-box {
	padding: 30px;
	background: transparent url(login-bg.jpg) no-repeat;
}

.register-box h1 {
	color: #fffeff;
}

.register-box a {
	color: #fffeff;
	float: right;
}

.register-box label {
	display: none;
}

input.names {
  display: inline-block;
  width: 95px;
  height: 18px;
  padding: 4px;
  font-size: 13px;
  line-height: 18px;
  color: #808080;
  border: 1px solid #ccc;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

.string {
	float: left;
}

.inputs ol, .buttons ol {
	margin: 0;
}

.inputs li, .buttons li {
	list-style-type: none;
	margin-bottom: 10px;
}

fieldset {
	padding-top: 0;
}

fieldset.buttons {
	margin-bottom: 0;
}

fieldset.textbox, fieldset.checkbox {
	margin: 0;
	padding: 0;
}

fieldset.checkbox label {
	padding-top: 3px;
	font-size: 11px;
	color: #BFBFBF;
	width: 80px;
}

form.pull-right p {
	line-height: 24px;
	font-size: 11px;
	padding-left: 116px;
}

/* @end */

.last {
	margin: 0;
}

.no-margin {
	margin: 0;
}

.line {
	border-top: 1px solid #eaeaea;
	padding-top: 5px;
}

.underline {
	border-bottom: 1px solid #eaeaea;
	margin-bottom: 10px;
}

.with {
	margin-left: 0;
}

.left-margin {
	margin-left: 20px;
}

.bottom-margin {
	margin-bottom: 20px;
}

.right-margin {
	margin-right: 20px;
}

.top-margin {
	margin-top: 10px;
}

.padding-right {
	padding-right: 20px;
}

.padding-top {
	padding-top: 10px;
}

.padding-all {
	padding: 10px;
}

.verticle_line {
	border-right: 1px solid #eaeaea;
	min-height: 400px;
}

.span-one-third {
  width: 300px;
}

.span-two-thirds {
  width: 619px;
}

.even {
	background-color: #f6f6f6;
}

.odd {
	background-color: #fbfefe;
}

.right {
	float: right;
}

.left {
	float: left;
}

.text-right {
	text-align: right;
}

.text-left {
	text-align: left;
}
/* @end */

