<h2 class="h2">Bienvenido <%= @resource.first_name %>!</h2>
<% if @resource.student?%>
<strong>A partir de ahora, puedes disfrutar de Cúrsame y todas las herramientas que te ofrece como:</strong>
  <ul>
    <li>Perfil en tu red social privada</li>
    <li>Interactuar con tus compañeros y maestros</li>
    <li>Acceso a cursos</li>
    <li>Tareas</li>
    <li>Cuestionarios</li>
    <li>Discusiones</li>
    <li>Compartir archivos</li>
    <li>¡Entre muchas otras!</li>
  </ul>
<%elsif @resource.teacher?%>
<strong>
  El proceso para tu acceso al sistema como maestro consta de 2 pasos, tu correo debe de ser confirmado y tu cuenta debe de ser aprobada por el administrador de tu red.
  <br />
  Una vez que tu cuenta este confirmada y aprobada podrás disfrutar de Cúrsame y todas las herramientas que te ofrece como:
</strong>
  <ul>
    <li>Perfil en tu red social privada</li>
    <li>Interactuar con tus compañeros y alumnos</li>
    <li>Acceso a cursos</li>
    <li>Tareas</li>
    <li>Cuestionarios</li>
    <li>Discusiones</li>
    <li>Compartir archivos</li>
    <li>¡Entre muchas otras!</li>
  </ul>
<%end%>
<h1> <%= link_to 'Confirmar tu Cuenta >>', confirmation_url(@resource, :confirmation_token => @resource.confirmation_token, :subdomain => @resource.devise_mailer_subdomain) %></h1>
<p>Si tienes alguna duda, puedes escribirnos a <%= link_to 'hola@cursa.me', 'mailto:hola@cursa.me' %>.</p>
