<p>Bienvenido <%= @resource.first_name %>!</p>

<p>
A partir de ahora, puedes disfrutar de Cúrsame y todas las herramientas que te ofrece como:
<ul>
  <li>Perfil en tu red social privada</li>
  <li>Interactuar con tus compañeros</li>
  <li>Acceso a cursos</li>
  <li>Tareas</li>
  <li>Cuestionarios</li>
  <li>Discusiones</li>
  <li>Compartir archivos</li>
  <li>¡Entre muchas otras!</li>
</ul>
</p>

<p>Es necesario <%= link_to 'confirmar tu cuenta', confirmation_url(@resource, :confirmation_token => @resource.confirmation_token) %> para poder accesar al sistema.</p>

<p>Si tienes alguna duda, puedes escribirnos a <%= link_to 'hola@cursa.me', 'mailto:hola@cursa.me' %>.</p>
