<p>Hola <%= @resource.first_name %>!</p>

<p>
Como te hicimos saber hace unos d&iacute;as, Cúrsame se ha actualizado para ofrecerte mejores herramientas y experiencia.
<br />
<br />
Por el mismo motivo hemos tenido que crearte una nueva contraseña para acceder a la nueva plataforma, sin embargo te sugerimos ampliamente cambiar la contraseña tan pronto accedas al sistema.
<br />
<br />
Tu nueva contraseña es: <strong><%= "#{@resource.first_name.gsub(" ", "_").downcase}#{@resource.id}" %></strong>
<%begin%>
<%subdomain = @resource.networks.first.subdomain%>
<%rescue%>
<%subdomain = nil%>
<%end%>
Link de <%= link_to 'acceso', root_url(:subdomain=>subdomain) %> a tu red.
<br />
<br />
¡Esperamos disfrutes del nuevo sistema y te invitamos a empezar tus cursos!
</p>
<p>
Cualquier duda, siempre puedes contactarnos al mail <%= link_to 'hola@cursa.me', 'mailto:hola@cursa.me' %>.
</p>

