<p>Hola <%= @resource.email %>!</p>

<p>Has solicitado reestablecer tu contraseña y puedes hacerlo por medio del link que aparece en este correo.</p>
<%begin%>
<%subdomain = @resource.networks.first.subdomain%>
<%rescue%>
<%subdomain = nil%>
<%end%>
<p><%= link_to 'Cambiar mi contraseña', edit_password_url(@resource, :reset_password_token => @resource.reset_password_token, :subdomain => subdomain) %></p>

<p>Si tu no has solicitado el reestablecimiento de tu contraseña, porfavor ignora este correo.</p>
<p>Tu contraseña no podrá ser cambiada a menos que tu ingreses al link y crees una nueva.</p>
