<h2 class="h2">Hola <%= @resource.name %>!</h2>
<strong>Has solicitado reestablecer tu contraseña y puedes hacerlo por medio del link que aparece en este correo.</strong>
Si tu no has solicitado el reestablecimiento de tu contraseña, porfavor ignora este correo.
Tu contraseña no podrá ser cambiada a menos que tu ingreses al link y crees una nueva.
<br>
<%begin%>
<%subdomain = @resource.networks.first.subdomain%>
<%rescue%>
<%subdomain = nil%>
<%end%>
<h1> <%= link_to 'Reestablecer Contraseña >>', edit_password_url(@resource, :reset_password_token => @resource.reset_password_token, :subdomain => subdomain) %></h1>
