<div class="centered">
	<center>
		<%= image_tag "/assets/#{@subdomain}.png" %>
	</center>
</div>
<script>
	$('.fill').hide();
	$('html').css('background-color','#eeeeee');
	$('body').css('background-color','#eeeeee');
</script>